body {
  background-color: #111;
  color: white;
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
}

h1 {
  color: #00ffcc;
}

#products {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
}

.card {
  background-color: #222;
  padding: 20px;
  border-radius: 10px;
  width: 180px;
  box-shadow: 0 0 10px #00ffcc;
}
